.job-view {
  background-color: white;
}

.job-title {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-size: 24px;
}

.job-status-icon {
  font-size: 15px;
  position:relative;
  bottom:2px;
}

.job-edit-icon {
  font-size: 15px;
  padding-left: 5px;
}

.job-control-buttons {
  position: relative;
  bottom:10px;
}


