<div class="ui segment job-view">
  <div class="job-title">

    <i class="circle icon job-status-icon" style="color: green"></i>

    {{selectedJobName}}

    <button class="ui button job-control-button right floated">
      <i class="edit basic icon job-edit-icon" ></i>
    </button>



    <button class="ui button job-control-button right floated">
      <i class="plus icon"></i>Add Applicant
    </button>

    <button class="ui button job-control-button right floated" (click)="open('Hello')">
      <i class="plus icon"></i>Add Job
    </button>

    <!--<div class="ui simple dropdown button job-control-button right floated" suiDropdown>-->
      <!--<div class="text">Select Job</div>-->
      <!--<i class="dropdown icon"></i>-->
      <!--<div class="menu" suiDropdownMenu>-->
        <!--&lt;!&ndash;<div class="disabled item">Software Engineer</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="item">iOS Engineer</div>&ndash;&gt;-->
        <!--<div class="item" ng-model="selectItem" *ngFor="let user of jobList">{{user.title}}</div>-->
        <!--&lt;!&ndash;<select ng-model="selectItem" ng-options="job as job.title for job in jobList">&ndash;&gt;-->
        <!--&lt;!&ndash;</select>&ndash;&gt;-->
      <!--</div>-->
    <!--</div>-->
    <select id="selectedJob" class="ui simple dropdown button menu job-control-button right floated" suiDropdown>
      <option  [disabled]="true">Select Job</option>
      <option *ngFor="let job of jobList">{{job.title}}</option>
      <!--next task id find job by name-->

    </select>
    <!--<div >-->
      <!--{{selectedJobList[0].title}}-->
      <!--{{selectedJobList[0].applicantIds}}-->
      <!--{{selectedJobList[0].location}}-->
      <!--{{selectedJobList[0].salary}}-->
      <!--{{selectedJobList[0].isOpen}}-->
    <!--</div>-->
  </div>
</div>

<ng-template let-context let-modal="modal" #modalTemplate>
  <div class="header">Example</div>
  <div class="content">
      <p>{{ context.data }}</p>
  </div>
  <div class="actions">
      <button class="ui red button" (click)="modal.deny('denied')">Cancel</button>
      <button class="ui green button" (click)="modal.approve('approved')" autofocus>OK</button>
  </div>
</ng-template>
