<div class="ui segment">
  <div class="ui two column grid">
    <div class="column">
      <div class="job-title">
        <i class="circle icon job-status-icon green" [ngStyle]="{'color': currentJob.isOpen === true ? 'green' : 'red' }"></i>
        {{ currentJob.title }}
        <i class="edit basic icon job-edit-icon"></i>
      </div>
    </div>

    <div class="column">
      <button class="ui button right floated" (click)="openAddJobModal()">
        <i class="plus icon"></i>Add Job
      </button>

      <div class="ui button dropdown right floated" suiDropdown>
        <div class="text">Select Job</div>
        <i class="dropdown icon"></i>
        <div class="menu" suiDropdownMenu>
          <div class="item" *ngFor="let job of jobList">{{ job.title }}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template let-context let-modal="modal" #modalTemplate>
  <div class="header">{{ context.title }}</div>
  <div class="content">
    <form class="ui form">
      <div class="field">
        <label for="title">Job Title</label>
        <input type="text" id="title" required [(ngModel)]="newJob.title" name="title" value="{{ context.job.title }}">
      </div>
      <div class="field">
        <label for="description">Job Description</label>
        <textarea id="description" rows="8" required [(ngModel)]="newJob.description" name="description" value="{{ context.job.description }}"></textarea>
      </div>
      <div class="field">
        <label for="location">Location</label>
        <sui-select class="selection" [(ngModel)]="newJob.location" name="location">
          <sui-select-option *ngFor="let option of locations" [value]="option">
          </sui-select-option>
        </sui-select>
      </div>
      <div class="field">
        <label for="salary">Salary</label>
        <div class="ui labeled input">
          <div class="ui label">$</div>
          <input type="text" id="salary" required [(ngModel)]="newJob.salary" name="salary">
        </div>
      </div>
    </form>
  </div>
  <div class="actions">
    <button class="ui red button" (click)="modal.deny()">Cancel</button>
    <button class="ui green button" (click)="modal.approve()" autofocus>OK</button>
  </div>
</ng-template>
