<div class="ui segment job-view">
    <div class="job-title">

        <i class="circle icon job-status-icon" style="color: green"></i>

        Software Engineer

        <i class="edit basic icon job-edit-icon"></i>

        <div class="ui dropdown button job-dropdown right floated" suiDropdown [(isOpen)]="isOpen" [isDisabled]="isDisabled">
            <div class="text">Select Job</div>
            <i class="dropdown icon"></i>
            <div class="menu" suiDropdownMenu>
                <div class="disabled item">Software Engineer</div>
                <div class="item">iOS Engineer</div>
                <div class="item">Design Lead</div>
            </div>
        </div>
      </div>
</div>
