<div class="ui segments">
  <div class="ui center aligned segment">
    <h2 class="">University of Ottawa</h2>
  </div>
  <div id="job-info-container" class="ui inverted center aligned segment">
    <div id="job-info">
      <div id="job-name">
        Software Engineer
      </div>
    </div>
  </div>
</div>
<h3 style="margin-left: 20%;">Apply
  <i class="chevron right icon"></i>
</h3>
<div id="job-form" class="ui raised segment">
  <div class="content">
    <form class="ui form">
      <h3>Personal Info</h3>
      <div class="field">
        <label for="name">Full name</label>
        <input type="text" id="name" required [(ngModel)]="newApplicant.name" name="name">
      </div>
      <div class="field">
        <label for="email">Email Address</label>
        <input type="text" id="email" required [(ngModel)]="newApplicant.email" name="email">
      </div>
      <div class="field">
        <label for="phoneNumber">Phone Number</label>
        <input type="text" id="phoneNumber" required [(ngModel)]="newApplicant.phoneNumber" name="phoneNumber">
      </div>
      <h3>Experience</h3>
      <div class="field">
        <label for="employer">Current employer (or most recent)</label>
        <input type="text" id="employer" required [(ngModel)]="newApplicant.currentEmployer" name="employer">
      </div>
      <div class="field">
        <label for="title">Role</label>
        <input type="text" id="title" required [(ngModel)]="newApplicant.currentTitle" name="title">
      </div>
      <div id="resume-button" class="ui left action input">
        <button class="ui instagram labeled icon button" style="width: 160px;">
          <i class="file pdf icon"></i>
          Resume
        </button>
        <input type="text" value="Upload files">
      </div>
      <br>
      <div id="letter-button" class="ui left action input">
        <button class="ui instagram labeled icon button" style="width: 160px;">
          <i class="file pdf icon"></i>
          Cover Letter
        </button>
        <input type="text" value="Upload files">
      </div>
      <h3>About You</h3>
      <div class="field">
        <label for="description">Tell us about yourself (200 words max)</label>
        <textarea id="description" rows="8" required [(ngModel)]="newApplicant.about" name="description"></textarea>
      </div>
    </form>
  </div>
  <div class="ui basic center aligned segment">
      <button id="apply-button" class="ui green button" (click)="modal.deny()">Apply</button>
  </div>
</div>
