#job-info-container {
  height: 300px !important;
  display: block;
  width: 100%;
  height: 70px;
  background-color: #133953;
}

#job-info {
  line-height: 300px;
  vertical-align: middle;
}

#job-name {
  font-size: 45px;
}

#bottom-items {
  font-size: 10px;
}

#job-form {
  margin-top: 25px;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 100px;
  background-color: #f9f9f9;
}

#resume-button {
  margin-top: 5px;
}

#letter-button {
  margin-top: 5px;
}

#apply-button {
  margin-top: 10px;
  width: 40%;
}
