<sui-sidebar-container class="ui bottom attached segment">
  <sui-sidebar class="inverted vertical" #sidebar>
    <a class="item" href="/">
      <div>
        <img src="../../assets/images/logo-plain.svg" class="logo">
      </div>
    </a>
    <a (click)="accountSettingsModal('Account Settings', user)" class="item">
      <b>Account Settings</b>
    </a>
    <a (click)="updateCurrentView('job-list');sidebar.toggle()" class="item">Positions</a>
    <a (click)="updateCurrentView('applicant-list');sidebar.toggle()" class="item">Applicants</a>
  </sui-sidebar>
  <sui-sidebar-sibling [isDimmedWhenVisible]="true">
    <div class="ui borderless top attached demo menu light-theme-color-bg">
      <a class="item icon-menu" (click)="sidebar.toggle()">
        <i class="sidebar icon"></i>
      </a>
      <a class="item">
        <input type="text" name="search" placeholder="Search..">
      </a>
      <div class="right menu">
        <a class="item">
          <i class="bell icon icon-items"></i>
        </a>
        <div class="ui simple dropdown link item" suiDropdown>
          <span class="text">
            <img class="ui avatar image" [src]="user.profileURL"> {{user.name}}
          </span>
          <i class="dropdown icon black"></i>
          <div class="menu" suiDropdownMenu>
            <h2 class="ui header">
              <img [src]="user.profileURL" class="ui image"> {{user.name}}
            </h2>
            <div class="item" (click)="accountSettingsModal('Account Settings', user)">Account Settings</div>
            <div class="item" (click)="logout()" style="color: #e24f4f !important;">Sign out</div>
          </div>
        </div>
      </div>
    </div>
    <app-job *ngIf="getCurrentView()=='kanban';"></app-job>
    <app-applicant-list *ngIf="getCurrentView()=='applicant-list';"></app-applicant-list>
    <app-job-list *ngIf="getCurrentView()=='job-list';"></app-job-list>

  </sui-sidebar-sibling>
</sui-sidebar-container>

<ng-template let-context let-modal="modal" #modalTemplate>
  <div class="header">{{ context.titleModal }}</div>
  <div class="content">
    <form class="ui form">
      <div class="field">
        <label for="name">Username</label>
        <input type="text" id="name" required [(ngModel)]="context.user.name" name="name">
      </div>
      <!--<div class="field">
        <label for="description">Email</label>
        <textarea id="description" rows="8" required [(ngModel)]="context.user.email" name="email"></textarea>
      </div>-->
    </form>
  </div>
  <div class="actions">
    <button class="ui red button" (click)="modal.deny()">Cancel</button>
    <button class="ui green button" (click)="modal.approve()" autofocus>OK</button>
  </div>
</ng-template>
