<div class="ui container" id="container-log-in">
  <div class="ui header center aligned">Register for
    <span>
      <img class="ui small image" style="display:inline; bottom: 6.5px; left: 2px;" src="../../assets/images/logo-plain-black.svg">
    </span>
    <span>
      (Beta)
    </span>
  </div>
  <div class="ui fitted divider"></div>
  <div class="ui basic segment" style="padding: 1em; margin-top:25px;">
    <div class="content">
      <form [formGroup]="registerForm">
        <div class="ui left icon input fluid" id="input-register">
          <input type="text" formControlName="name" placeholder="Username">
          <i class="left user icon"></i>
        </div>
        <div class="ui left icon input fluid" id="input-register">
          <input type="email" formControlName="email" placeholder="E-mail address">
          <i class="left envelope icon"></i>
        </div>
        <div class="ui left icon input fluid" id="input-register">
            <input type="text" formControlName="workplace" placeholder="Where do you work?">
            <i class="left building icon"></i>
          </div>
        <div class="ui left icon input fluid" id="input-register">
          <input type="text" formControlName="title" placeholder="Your position">
          <i class="left briefcase icon"></i>
        </div>
        <div class="ui left icon input fluid" id="input-register">
          <i class="lock icon"></i>
          <input type="password" formControlName="password" placeholder="Password">
        </div>
        <label class="error" style="margin-bottom: 20px !important;">{{errorMessage}}</label>
        <div class="center aligned">
          <div class="ui fluid buttons">
            <button type="submit" (click)="tryRegister(registerForm.value)" class="ui button instagram button-login">Register Account</button>
          </div>
        </div>
      </form>
    </div>
  </div>
