<div class="ui container" id="container-log-in">
  <div class="ui header center aligned">
    <a href="/">
      <img class="ui medium image" href="/" style="display:inline; bottom: 6.5px; left: 2px;" src="../../assets/images/logo-plain-black.svg">
    </a>
  </div>

  <div class="ui basic segment">
    <div class="content">
      <button type="button" class="ui fluid black button" (click)="tryGoogleLogin()" id="log-in-service">
        <i class="google icon"></i>
        Register with Gmail
      </button>
      <div class="ui horizontal divider">
        Or
      </div>
      <form [formGroup]="registerForm">
        <div class="ui left icon input fluid" id="input-register">
          <input type="text" formControlName="username" placeholder="Username">
          <i class="left user icon"></i>
        </div>
        <div class="ui left icon input fluid" id="input-register">
          <input type="email" formControlName="email" placeholder="E-mail address">
          <i class="left envelope icon"></i>
        </div>
        <div class="ui left icon input fluid" id="input-register">
          <i class="lock icon"></i>
          <input type="password" formControlName="password" placeholder="Password">
        </div>
        <div class="ui left icon input fluid" id="input-register">
          <i class="lock icon"></i>
          <input type="password" formControlName="password" placeholder="Confirm password">
        </div>
        <div class="center aligned">
          <div class="ui fluid buttons">
            <button type="submit" (click)="tryRegister(registerForm.value)" class="ui button instagram button-login">Register Account</button>
          </div>
        </div>
        <label class="error" style="margin-bottom: 20px !important;">{{errorMessage}}</label>
      </form>
    </div>
  </div>
