<div class="ui container" id="container-log-in">
  <div class="ui header center aligned">
    <a href="/">
      <img class="ui medium image" href="/" style="display:inline; bottom: 6.5px; left: 2px;" src="../../assets/images/logo-plain-black.svg">
    </a>
  </div>

  <div class="ui basic segment">
    <div class="content">
      <button type="button" class="ui fluid black button" (click)="googleLogin()" id="log-in-service">
        <i class="google icon"></i>
        Register with Gmail
      </button>
      <div class="ui horizontal divider">
        Or
      </div>
      <form class="ui form" (ngSubmit)="register()">
        <div class="ui left icon input fluid" id="input-register">
          <input type="text" name="name" [(ngModel)]="newUser.name" placeholder="Name">
          <i class="left user icon"></i>
        </div>
        <div class="ui left icon input fluid" id="input-register">
          <input type="email" name="email" [(ngModel)]="newUser.email" placeholder="Email address">
          <i class="left envelope icon"></i>
        </div>
        <div class="ui left icon input fluid" id="input-register">
          <input type="text" name="title" [(ngModel)]="newUser.title" placeholder="Title">
          <i class="left id card icon"></i>
        </div>
        <div class="ui left icon input fluid" id="input-register">
          <input type="text" name="company" [(ngModel)]="newUser.company" placeholder="Company">
          <i class="left building icon"></i>
        </div>
        <div class="ui left icon input fluid" id="input-register">
          <i class="lock icon"></i>
          <input type="password" name="password" [(ngModel)]="password" placeholder="Password">
        </div>
        <div class="ui left icon input fluid" id="input-register">
          <i class="lock icon"></i>
          <input type="password" placeholder="Confirm password">
        </div>
        <button type="submit" class="ui fluid blue button button-login">Register Account</button>
      </form>
    </div>
  </div>
