<div class="ui grid card-column">
    <div class="four wide column centered">
        <div class="ui link card">
            <div class="content">
              <div class="header">Amar Jasarbasic</div>
              <div class="meta">
                <span class="category">Software Engineer @ nowhere</span>
              </div>
              <div class="description">
                 
              </div>
            </div>
            <div class="extra content">
              <span class="right floated star">
                  <i class="star icon"></i>
              </span>
              <div class="left floated author">
                <img class="ui avatar image" src="../../assets/images/avatars/elyse.png"> Hamza
              </div>
            </div>
          </div>
          <div class="ui link card">
              <div class="content">
                <div class="header">Joe Smith</div>
                <div class="meta">
                  <span class="category">Software Engineer @ Google</span>
                </div>
                <div class="description">
                   
                </div>
              </div>
              <div class="extra content">
                <span class="right floated star">
                    <i class="star icon"></i>
                </span>
                <div class="left floated author">
                  <img class="ui avatar image" src="../../assets/images/avatars/eve.png"> Catie
                </div>
              </div>
            </div>
            <div class="ui link card">
                <div class="content">
                  <div class="header">Seth Funke</div>
                  <div class="meta">
                    <span class="category">Backend Developer @ Shopify</span>
                  </div>
                  <div class="description">
                     
                  </div>
                </div>
                <div class="extra content">
                  <span class="right floated star">
                      <i class="star icon"></i>
                  </span>
                  <div class="left floated author">
                    <img class="ui avatar image" src="../../assets/images/avatars/elyse.png"> Hamza
                  </div>
                </div>
              </div>
              <div class="ui link card">
                  <div class="content">
                    <div class="header">Margret Evans</div>
                    <div class="meta">
                      <span class="category">iOS Developer @ Zynga</span>
                    </div>
                    <div class="description">
                       
                    </div>
                  </div>
                  <div class="extra content">
                    <span class="right floated star">
                        <i class="star icon"></i>
                    </span>
                    <div class="left floated author">
                      <img class="ui avatar image" src="../../assets/images/avatars/nan.jpg"> Lily
                    </div>
                  </div>
                </div>
    </div>
    <div class="four wide column">
        <div class="ui link card">
            <div class="content">
              <div class="header">Aidan Fills</div>
              <div class="meta">
                <span class="category">Front End Developer @ IBM</span>
              </div>
              <div class="description">
                 
              </div>
            </div>
            <div class="extra content">
              <span class="right floated star">
                  <i class="star icon"></i>
              </span>
              <div class="left floated author">
                <img class="ui avatar image" src="../../assets/images/avatars/nan.jpg"> Lily
              </div>
            </div>
          </div>
          <div class="ui link card">
              <div class="content">
                <div class="header">Reiley Frost</div>
                <div class="meta">
                  <span class="category">Software Engineer @ NXP</span>
                </div>
                <div class="description">
                   
                </div>
              </div>
              <div class="extra content">
                <span class="right floated star">
                    <i class="star icon"></i>
                </span>
                <div class="left floated author">
                  <img class="ui avatar image" src="../../assets/images/avatars/ade.jpg"> Eve
                </div>
              </div>
            </div>
            <div class="ui link card">
                <div class="content">
                  <div class="header">Andrew Hills</div>
                  <div class="meta">
                    <span class="category">Software Engineer @ Nokia</span>
                  </div>
                  <div class="description">
                     
                  </div>
                </div>
                <div class="extra content">
                  <span class="right floated star">
                      <i class="star icon"></i>
                  </span>
                  <div class="left floated author">
                    <img class="ui avatar image" src="../../assets/images/avatars/ade.jpg"> Eve
                  </div>
                </div>
              </div>
    </div>
    <div class="four wide column">
        <div class="ui link card">
            <div class="content">
              <div class="header">Abdul Ahmed</div>
              <div class="meta">
                <span class="category">Software Engineer @ Apple</span>
              </div>
              <div class="description">
                 
              </div>
            </div>
            <div class="extra content">
              <span class="right floated star">
                  <i class="star icon"></i>
              </span>
              <div class="left floated author">
                <img class="ui avatar image" src="../../assets/images/avatars/elyse.png"> Hamza
              </div>
            </div>
          </div>
          <div class="ui link card">
              <div class="content">
                <div class="header">Liz Herbert</div>
                <div class="meta">
                  <span class="category">Backend Engineer @ Amazon</span>
                </div>
                <div class="description">
                   
                </div>
              </div>
              <div class="extra content">
                <span class="right floated star">
                    <i class="star icon"></i>
                </span>
                <div class="left floated author">
                  <img class="ui avatar image" src="../../assets/images/avatars/nan.jpg"> Lily
                </div>
              </div>
            </div>
    </div>
    <div class="four wide column">
        <div class="ui link card">
            <div class="content">
              <div class="header">Matt Gen</div>
              <div class="meta">
                <span class="category">Software Engineer @ Google</span>
              </div>
              <div class="description">
                 
              </div>
            </div>
            <div class="extra content">
              <span class="right floated star">
                  <i class="star icon"></i>
              </span>
              <div class="left floated author">
                <img class="ui avatar image" src="../../assets/images/avatars/ade.jpg"> Eve
              </div>
            </div>
          </div>
    </div>
  </div>