#container-log-in{
  width: 400px;
  height: 500px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.button-login {
  margin-top: 20px !important;
}

.landing-image {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#input-login {
  margin-top: 10px !important;
}

#log-in-service {
  margin-top: 4px !important;
}
