<div *ngIf="!show_login;else login" class="ui container">
    <h1 class="ui center aligned header" style="margin: 5vh">
        Applicant tracking tool for HR and hiring managers
    </h1>

    <img class="ui centered fluid image landing-image" src="../../assets/images/talentboard.png" style="width: 85%;">

    <div class="ui basic segment center aligned">
        <a href="https://github.com/TalentBoard/Talentboard">
            <button class="ui large labeled icon button" src="github.com">
                <i class="github icon"></i>
                View Project
            </button>
        </a>
        <button class="ui primary large center aligned right labeled icon button" (click)="show_login=true;">
            <i class="right arrow icon"></i>
            Demo
        </button>
    </div>
</div>

<ng-template #login>
    <div class="ui container" id="container-log-in">
        <img class="ui centered medium image" src="../../assets/images/logo-black-variant.svg">
        <div class="ui basic segment">
            <div class="content">
                <form class="ui form" (ngSubmit)="emailLogin()">
                    <div class="ui left icon input fluid">
                        <input type="email" [(ngModel)]="credentials.email" placeholder="Email address" name="email">
                        <i class="user icon"></i>
                    </div>
                    <div class="ui left icon input fluid" id="input-login">
                        <input type="password" [(ngModel)]="credentials.password" placeholder="Password" name="password">
                        <i class="lock icon"></i>
                    </div>
                    <button type="submit" class="ui fluid button instagram button-login">Login</button>
                </form>
                <div class="ui horizontal divider">
                    Or
                </div>
            </div>
            <button type="button" class="ui fluid black button" (click)="googleLogin()" id="log-in-service">
                <i class="google icon"></i>
                Login with Gmail
            </button>
        </div>
        <div class="ui basic segment center aligned">
            New to Talentboard?
            <a routerLink="/register" routerLinkActive="active">Create an account</a>.
        </div>
    </div>
</ng-template>

