html{
min-height: 100%;
}

body {
  height: 100%;
}

::-webkit-scrollbar {
  width: 6px;
  margin-left: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1 !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d6d6d6 !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c2c2c2 !important;
}
