.ui.card {
  margin-bottom: 10px;
  background-color: #ffffff;
}

.applicant-card:hover{
  background-color: #e3e3e3;
}

.applicant-name {
  font-size: 16px;
  font-style: bold;
  color: black !important;
}

.ui.tiny.header {
  margin: 1em 0 0 0;
}
