<!--<div class="container" style="margin-top: 20px;">-->
    <!--<h2 style="margin-left:50px;">Applicants View</h2>-->
    <!--<div class="ui divider" style="margin-left: 50px; margin-right: 50px;"></div>-->
    <!--<div *ngFor="let applicant of applicants" class="ui raised segment" id="job-item">-->
      <!--<div class="ui grid">-->
        <!--<div class="four column row">-->
          <!--<div class="left floated column">-->
            <!--<b>{{ applicant.name }}</b><br>-->
            <!--{{ applicant.currentTitle }} @ {{ applicant.currentEmployer}}-->
          <!--</div>-->
          <!--<div class="right floated column">-->
            <!--<button class="ui button right floated" style="bottom: 20px !important;">-->
              <!--<i class="user icon"></i>View Profile-->
            <!--</button>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
