<div class="ui container" id="container-log-in">
  <a href="/">
    <img class="ui centered medium image" src="../../assets/images/logo-plain-black.svg">
  </a>
  <div class="ui basic segment" style="padding: 1em; margin-top:25px;">
    <div class="content">
      <form [formGroup]="loginForm">
        <div class="ui left icon input fluid" id="input-login">
          <input type="email" formControlName="email" placeholder="E-mail address">
          <i class="left user icon"></i>
        </div>
        <div class="ui left icon input fluid" id="input-login">
          <i class="lock icon"></i>
          <input type="password" formControlName="password" placeholder="Password">

        </div>
        <label class="error" style="margin-bottom: 20px !important;">{{errorMessage}}</label>
        <div class="center aligned">
          <div class="ui fluid buttons">
            <button type="submit" (click)="tryLogin(loginForm.value)" class="ui button instagram button-login">Login</button>
          </div>
          <div class="ui horizontal divider">
            Or
          </div>
        </div>
      </form>
    </div>
    <button type="button" class="ui fluid black button" (click)="tryGoogleLogin()" id="log-in-service">
      <i class="google icon"></i>
      Login with Gmail
    </button>
  </div>
  <div class="ui basic segment center aligned">
    New to Talentboard?
    <a routerLink="/register" routerLinkActive="active">Create an account</a>.
  </div>
</div>
