<!--<select id="selectedJob" class="ui simple dropdown button menu job-control-button right floated" (change)="selectedJobHandler($event)" suiDropdown>-->
  <!--<option  [disabled]="true">Select Job</option>-->
  <!--<option *ngFor="let job of jobList">{{job.title}}</option>-->
  <!--&lt;!&ndash;next task id find job by name&ndash;&gt;-->
<!---->
<!--</select>-->

<form #jobForm="ngForm" >
  <input type="hidden" name="id" #id="ngModel" [(ngModel)]="jobService.currentJob.id">
  <div class="form-group">
    <label>Title</label>
    <input class="form-control" name="title" #title="ngModel" [(ngModel)]="jobService.currentJob.title" placeholder="Title" required>
  </div>
  <div class="form-group">
    <label>Description</label>
    <input class="form-control" name="description" #description="ngModel" [(ngModel)]="jobService.currentJob.description" placeholder="Description">
  </div>
  <div class="form-group">
    <label>Location</label>
    <input class="form-control" name="location" #location="ngModel" [(ngModel)]="jobService.currentJob.location" placeholder="Location">
  </div>
  <div class="form-group">
    <label>Salary</label>
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-dollar"></i>
      </div>
      <input class="form-control" name="salary" #salary="ngModel" [(ngModel)]="jobService.currentJob.salary" placeholder="Salary">
    </div>
  </div>

  <div class="form-group">
    <label>Applicant Ids</label>
    <input class="form-control" name="applicantIds" #applicantIds="ngModel" [(ngModel)]="jobService.currentJob.applicantIds" placeholder="Applicant Ids">
  </div>


  <!--<div class="form-group">-->
  <!--<label>Open</label>-->
  <!--<div class="input-group">-->
  <!--<div class="ui dropdown" suiDropdown>-->
  <!--<div class="text"></div>-->
  <!--<i class="dropdown icon"></i>-->
  <!--<div class="menu" suiDropdownMenu>-->
  <!--<div class="item">True</div>-->
  <!--<div class="item">False</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->

  <div class="form-group">
    <label>Open</label>
    <select name="isOpen" id="isOpen"  [(ngModel)]="jobService.currentJob.isOpen">
      <option value="">---Please select---</option> <!-- not selected / blank option -->
      <option value="true">True</option> <!-- interpolation -->
      <option value="false">False</option>
    </select>

  </div>


  <div class="form-group">
    <button class="btn btn-default" type="submit"  (click)="onSubmit(jobForm)">
      <i class="fa fa-floppy-o"></i>
      Submit</button>
    <button class="btn btn-default" type="button" (click)="resetForm(jobForm)">
      <i class="fa fa-repeat"></i>
      Reset</button>
  </div>


</form>
