#column {
  background-color:#f3f3f3;
  height: 100% !important;
  width: 300px !important;
  margin-left: 15px;
  margin-right: 5px;
}

.job-column {
  margin-right: 5px;
  vertical-align: top;
  overflow: auto;
  width: 100%;
  height: 94%;
  white-space: nowrap;
  margin-right: 2px;
  margin-left: 1px;
}

.column-title {
  font-size: 15px;
  color: #4C555C;
  margin-top: 0px;
  margin-bottom: 15px;
}

.job-column-settings {
  float: right;
  margin-right: -7px;
}

.job-column-settings:hover {
  color: rgb(161, 161, 161);
}
