#jobContainer {
  padding-left: 6em;
  padding-right: 6em;
}

.job-title {
  font-size: 24px;
}

.job-status-icon {
  font-size: 15px;
  position:relative;
  bottom:2px;
}

.job-edit-icon {
  font-size: 20px;
  padding-left: 5px;
}

.ui.grid.equal.width.column {
  padding-bottom: 1em;
}
