<div *ngIf="getNumberOfJobs() == 0">

  <div style="margin-top: 200px;" class="ui two column centered grid">
    <h2>You don't have any jobs.</h2>
  </div>

  <div style="margin-top: 25px;" class="ui two column centered grid">
    <button class="ui button" (click)="toggleJobModal = true">
      <i class="plus icon"></i>Add Job
    </button>
  </div>

</div>
<div *ngIf="getNumberOfJobs() > 0">
  <div class="ui segment">
    <div class="ui two column grid">
      <div class="column">
        <div class="job-title">
          <i class="circle icon job-status-icon" [ngClass]="currentJob.isOpen ? 'green' : 'red' "></i>
          {{ currentJob.title }}
          <i class="edit basic icon job-edit-icon" (click)="toggleJobModal = true"></i>
        </div>
      </div>

      <div class="column">
        <button class="ui button right floated" (click)="toggleJobModal = true">
          <i class="plus icon"></i>Add Job
        </button>

        <div class="ui button dropdown right floated" suiDropdown autoClose="itemClick">
          <div class="text">Select Job</div>
          <i class="dropdown icon"></i>
          <div class="menu" suiDropdownMenu>
            <div class="item" *ngFor="let job of jobList" (click)="changeCurrentJob(job.id)">{{ job.title }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="jobContainer" class="ui container">
    <div id="job-column">
      <app-column [name]='"Applied"' [applicants]="applied"></app-column>
    </div>
    <div id="job-column">
      <app-column [name]='"Phone Interview"' [applicants]="phoneInterview"></app-column>
    </div>
    <div id="job-column">
      <app-column [name]='"In Person Interview"' [applicants]="personInterview"></app-column>
    </div>
    <div id="job-column">
      <app-column [name]='"Declined"' [applicants]="declined"></app-column>
    </div>
    <div id="job-column">
      <app-column [name]='"Sent Offer"' [applicants]="offer"></app-column>
    </div>
  </div>
</div>

<app-job-form *ngIf="toggleJobModal" (toggleJobModal)="toggleJobModal = false"></app-job-form>
