<ng-template let-context let-modal="modal" #jobModal>
    <div class="header">{{ context.title }}</div>
    <div class="content">
        <div class="ui two column grid">
            <div class="four wide column">
                <div class="ui fluid vertical steps">
                    <div [ngClass]="{'active': step === 1 }" (click)="step = 1" class="step">
                        <div class="content">
                            <div class="title">Basic Job Info</div>
                        </div>
                    </div>
                    <div [ngClass]="{'active': step === 2 }" (click)="step = 2" class="step">
                        <div class="content">
                            <div class="title">Billing</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="twelve wide column">

                <div id="step1" *ngIf="step === 1" class="form-view">
                    <form class="ui form">
                        <div class="field">
                            <label for="title">Job Title</label>
                            <input type="text" id="title" required [(ngModel)]="context.job.title" name="title">
                        </div>
                        <div class="field">
                            <label for="description">Job Description</label>
                            <textarea id="description" rows="8" required [(ngModel)]="context.job.description"
                                      name="description"></textarea>
                        </div>
                        <div class="field">
                            <label for="location">Location</label>
                            <sui-select class="selection" [(ngModel)]="context.job.location" name="location">
                                <sui-select-option *ngFor="let option of locations" [value]="option">
                                </sui-select-option>
                            </sui-select>
                        </div>
                        <div class="field">
                            <label for="salary">Salary</label>
                            <div class="ui labeled input">
                                <div class="ui label">$</div>
                                <input type="text" id="salary" required [(ngModel)]="context.job.salary" name="salary">
                            </div>
                        </div>
                    </form>
                </div>

                <div id="step2" *ngIf="step === 2" class="form-view">
                    <form class="ui form">
                        <div class="field">
                            <label for="title">Job Title</label>
                            <input type="text" id="title" required [(ngModel)]="context.job.title" name="title">
                        </div>
                        <div class="field">
                            <label for="description">Job Description</label>
                            <textarea id="description" rows="8" required [(ngModel)]="context.job.description"
                                      name="description"></textarea>
                        </div>
                    </form>
                </div>
                <div id="step3" *ngIf="step === 3">
                    <form></form>
                </div>


            </div>
        </div>
    </div>
    <div *ngIf="step === 3" class="actions">
        <button class="ui red button" (click)="modal.deny()">Cancel</button>
        <button class="ui black button" (click)="modal.approve()" autofocus>OK</button>
    </div>
    <div *ngIf="step < 3" class="actions">
        <button *ngIf="step > 1 && step < 3" class="ui black button" (click)="backStep()" autofocus>Back</button>
        <button class="ui black button" (click)="nextStep()" autofocus>Next</button>
    </div>
</ng-template>

