<ng-template let-context let-modal="modal" #jobModal>
  <div class="header">{{ context.title }}</div>
  <div class="content">
    <form class="ui form">
      <div class="field">
        <label for="title">Job Title</label>
        <input type="text" id="title" required [(ngModel)]="context.job.title" name="title">
      </div>
      <div class="field">
        <label for="description">Job Description</label>
        <textarea id="description" rows="8" required [(ngModel)]="context.job.description"
                  name="description"></textarea>
      </div>
      <div class="field">
        <label for="location">Location</label>
        <sui-select class="selection" [(ngModel)]="context.job.location" name="location">
          <sui-select-option *ngFor="let option of locations" [value]="option">
          </sui-select-option>
        </sui-select>
      </div>
      <div class="field">
        <label for="salary">Salary</label>
        <div class="ui labeled input">
          <div class="ui label">$</div>
          <input type="text" id="salary" required [(ngModel)]="context.job.salary" name="salary">
        </div>
      </div>
    </form>
  </div>
  <div class="actions">
    <button class="ui red button" (click)="modal.deny()">Cancel</button>
    <button class="ui green button" (click)="modal.approve()" autofocus>OK</button>
  </div>
</ng-template>
<!--<div id="step1" *ngIf="step === 1">-->
<!--<form></form>-->
<!--</div>-->

<!--<div id="step2" *ngIf="step === 2">-->
<!--<form></form>-->
<!--</div>-->

<!--<div id="step3" *ngIf="step === 3">-->
<!--<form></form>-->
<!--</div>-->
