$background: #ffffff;
$dark: #111;
$primary: #ffffff;

.job-title {
  font-size: 24px;
  padding-top: 5px;
}

.step {
  position: relative !important;
  cursor: pointer !important;
}

.form-view {
  //display: block;
  //height: 100% !important;
  //width: 100%;
  //overflow: scroll;
}
