<div class="container" style="margin-top: 50px;">
  <div *ngFor="let job of jobs" class="ui raised segment" id="job-item">
    <div class="job-title">
      <i *ngIf="job.isOpen==true;" class="circle icon green job-status-icon"></i>
      <i *ngIf="job.isOpen==false;" class="circle icon red job-status-icon"></i>
      {{ job.title }}
      <span><i class="edit basic icon job-edit-icon"></i>
      <button class="ui button right floated">
        <i class="plus icon"></i>Add Job
      </button></span>
    </div>
  </div>
</div>
